<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN : RIT</title>
</head>
<style>
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	background-color: #3182ce;
    color: white;
	font-weight: 300;
}



</style>
<body>
	<div class="container">
		<h1>Log In</h1>
        <form action="" class="form" method='post'>
            {% csrf_token %} 
            <input type="text"  placeholder="Username" name="username" id=""> <br> 
            <input type="password" placeholder="Password" name="password"> <br>
            <input type="submit"  class="button" id="login-button" value="Login">
        </form>
	</div>
</body>

</html>